* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  background-color: #020E1F;
  color: #eee;
  font-family: "Fira Sans", "Droid", "Ubuntu";
}

body {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

h1 { text-align: center; }

h2 {
  text-align: center;
  font-weight: bold;
  color: #BFBFBF;
  text-shadow: 2px 2px #333;
  margin: 8px;
  font-size: 1.1em;
}

small { font-size: 0.7em; }

#instructions {
  color: #D8E8F0;
  padding: 0 10px;
  border: 0px solid orange;
  margin-top: 16px;
}

#menu, #credits {
  display:none;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: black;
  background-size: 100% 100%;
  padding: 8px;
  text-align: left;
}

#menu {
  background-image: url(../images/background.png);
}

#credits {
  padding: 16px;
  background-image: url(../images/background.png);
}


#bt_credits {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 1em;
  border-top: 2px solid #02204C;
  color: #7F7F7F;
  padding: 8px;
}


#profile {
/*
  border: 2px solid green;
*/
  height: 110px;
  padding: 8px;
  font-size: 1.4em;
}

#profile img {
  width: 92px;
  height: 92px;
  float: left;
  margin-right: 16px;
}

#links {
  font-size: 1.2em;
  padding: 16px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

#links a {
  text-decoration: none;
  color: #179;
}

#links span {
  display: inline-block;
/*
  border: 2px solid red;
*/
  width: 100px;
  text-align: right;
  margin-right: 18px;
}

#soundtrack {
  font-size: 0.8em;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #4D4D4D;
}

#menu header {
  margin: 2px 0 2px;
  text-align: center;
}

#stage {
  width: 320px;
  height: 480px;
  position: relative;
  margin: 0 auto;
  border: none;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 480px;
}

#game-layer {
  z-index: 2;
}

#background-layer {
  z-index: 1;
  background-color: #021422;
  background-image: url(../images/background.png);
  background-size: 100% 100%;
}

#audio { display: none; }

#bt_play { margin-top: 24px; }

#music, #sound {
  padding: 8px;
}

#music {
  float: left;
  margin-left: 16px;
}

#sound {
  float: right;
  margin-right: 16px;
}

#music_onoff, #sound_onoff {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  vertical-align: middle;
  margin-left: 16px;
}

.on {
  background-color: #159;
  border: 4px solid #1E90FF;
}

.off {
  background-color: #1A1A1A;
}

.button {
  width: 100%;
  padding: 2px;
  margin: 8px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px #092A4C;
  border: 2px solid #1E90FF;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #159;
}

.button:hover {
  background-color: #1B82E6;
}

.button:active {
  background-color: #4CA7FF;
}

@media only screen and (min-width: 480px)
{
  #stage {
    width: 480px;
    height: 800px;
  }

  canvas {
    width: 480px;
    height: 800px;
  }

  h2 {
    border-bottom: 1px solid #111;
    font-size: 1.4em;
    margin: 16px;

  }

  p {
    font-size: 1.2em;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 640px)
{
  #stage {
    width: 484px;
    height: 804px;
    border: 2px solid #050505;
    border-radius: 4px;
/*
    padding: 4px;
*/
    background: purple;
    margin-top: 24px;
    box-sizing: border-box;
  }

  canvas {
    width: 480px;
    height: 800px;
    padding: 0;
    margin: 0;
    border: none;
  }

  h2 {
    border-bottom: 1px solid #111;
    font-size: 1.4em;
    margin: 16px;

  }

  p {
    font-size: 1.2em;
    padding: 0 20px;
  }
}
